@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    overflow-x: hidden;
}


.registrationinput:-webkit-autofill {
    -webkit-text-fill-color: black !important;
    transition: background-color 5000s ease-in-out 0s;
}