@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    overflow-x: hidden;
}

/* Hide ScrollBar */
.scrollbar-hide {
    -ms-overflow-style: none !important;
    /* IE and Edge */
    scrollbar-width: none !important;
    /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none !important;
    /* Chrome, Safari and Opera */
}